@model List<EFDbFirstApproachExample.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_Layout1.cshtml";
}

@{
    //TODO: user html helpers instead of html tags
}
<div class="container-fluid">
    <h2>List of Products</h2>

    <a class="btn btn-primary mb-2" href="@Url.Action("Create","Products", new {Area="Manager" })">Add new Product</a>

    <form action="@Url.Action("Index", "Products", new { Area = "Manager" })" method="get" class="form-inline">
        <input name="search" value="@ViewBag.search" type="text" placeholder="search term" class="form-control" />
        <input type="submit" class="btn btn-primary ml-2" />
    </form>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>
                    @if (ViewBag.sortDirection == "asc")
                    {
                        <a href="@Url.Action("Index","Products", new { Area = "Manager" })?sortDirection=desc&sortColumn=ProductID&pageNumber=@ViewBag.currentPage">Product ID</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index","Products", new { Area = "Manager" })?sortDirection=asc&sortColumn=ProductID&pageNumber=@ViewBag.currentPage">Product ID</a>

                    }
                </th>
                <th>
                    @if (ViewBag.sortDirection == "asc")
                    {
                        <a href="@Url.Action("Index","Products", new { Area = "Manager" })?sortDirection=desc&sortColumn=ProductName&pageNumber=@ViewBag.currentPage">Product Name</a>

                    }
                    else
                    {
                        <a href="@Url.Action("Index","Products", new { Area = "Manager" })?sortDirection=asc&sortColumn=ProductName&pageNumber=@ViewBag.currentPage">Product Name</a>

                    }
                </th>
                <th>Price</th>
                <th>Date of purchase</th>
                <th>Availability status</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(product.Photo) && product.Photo.StartsWith("http"))
                        {
                            <img src="@product.Photo" width="100" />
                        }
                        else
                        {

                            <img src="data:image;base64,@product.Photo" width="100" />
                        }
                    </td>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>$@product.Price</td>
                    @if (product.DateOfPurchase != null)
                    {
                        <td>@product.DateOfPurchase.Value.Date.ToString("d")</td>
                    }
                    else
                    {
                        <td>---</td>
                    }
                    <td>@product.AvailabilityStatus</td>
                    <td>@product.Category.CategoryName</td>
                    <td>@product.Brand.BrandName</td>
                    <td>@product.Active</td>
                    <td>
                        <a href="@Url.Action("Details","Products", new { Area = "Manager" })/@product.ProductID">Details</a>
                        || <a href="@Url.Action("Edit", "Products", new { Area = "Manager" })/@product.ProductID">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- list of page numbers -->
    <div>

        @if (ViewBag.currentPage > 1)
        {
            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Products", new { Area = "Manager" })?pageNumber=@(ViewBag.currentPage - 1)">Previous</a>
        }
        else
        {
            <a>Previous</a>
        }
        @for (int pageNumber = 1; pageNumber <= ViewBag.pageCount; pageNumber++)
        {
            <span>
                <a href="@Url.Action("Index", "Products", new { Area = "Manager" })?pageNumber=@pageNumber">@pageNumber</a>
            </span>
        }
        @if (ViewBag.currentPage == ViewBag.pageCount)
        {
            <a>Next</a>
        }
        else
        {
            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Products", new { Area = "Manager" })?pageNumber=@(ViewBag.currentPage + 1)">Next</a>
        }

    </div>
</div>