@model List<EFDbFirstApproachExample.Models.Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<div class="container-fluid">
    <h2>List of Categories</h2>

    <a class="btn btn-primary mb-2" href="@Url.Action("Create","Categories", new { Area = "Admin" })">Add a new Category</a>
    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped">

                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@category.CategoryID</td>
                            <td>@category.CategoryName</td>
                            <td>
                                <a href="@Url.Action("Edit", "Categories", new { Area = "Admin" })/@category.CategoryID">Edit</a>
                                || <a href="@Url.Action("Delete", "Categories", new { Area = "Admin" })/@category.CategoryID">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>