@model EFDbFirstApproachExample.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="container-fluid">
    <h2>Register</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Mobile)
                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Mobile)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @{ //TODO: make this a date picker
                    }
                    @Html.LabelFor(m => m.DateOfBirth)
                    @*@Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })*@
                    <input type="date" name="DateOfBirth" id="DateOfBirth" class="form-control"/>
                    @Html.ValidationMessageFor(m => m.DateOfBirth)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Address)
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.City)
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.City)
                </div>
            </div>
          
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(m => m.Country)
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Country)
                </div>
            </div>
        </div>

   
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
        <div>
            @Html.ValidationSummary()
        </div>
    }
</div>